<div class="container">
    <nav class="navbar navbar-light bg-faded">

        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content">
        ☰
        </button>

        <!-- Nav Content -->
        <div class="collapse navbar-toggleable" id="nav-content">
            <a class="nav-item nav-link" routerLink="overview" routerLinkActive="active font-weight-bold">Overview</a>
            <a class="nav-item nav-link" routerLink="leads" routerLinkActive="active font-weight-bold">Leads</a>
            <a class="nav-item nav-link disabled" routerLink="analytics" routerLinkActive="active font-weight-bold">Analytics <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link disabled" routerLink="monitoring" routerLinkActive="active font-weight-bold">Monitoring</a>
            <a class="nav-item nav-link disabled" routerLink="content" routerLinkActive="active font-weight-bold">Content</a>
        </div>

    </nav>
</div>


