<div class="stats-graphic__control d-flex">
  <div class="p-6">
    <div class="btn-group" role="group" aria-label="Graphic control">
      <button type="button" class="btn-byDay btn btn-secondary" [class.active]="activeGraph === 'byDay'" (click)="buildTotalsByDay()">totals</button>
      <button type="button" class="btn-thisWeek btn btn-secondary" [class.active]="activeGraph === 'thisWeek'" (click)="buildOnlyThisWeek()"> this week</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <canvas id="statGraph" width="400" height="400"></canvas>
  </div>
</div>
