$color-tools: #F0AD4E;
$color-referrals: #5CB85C;
$color-actions: #D9534F;

.card-leads {

}

.card-tools {
  background: $color-tools;
  border: $color-tools;
}

.card-referrals {
  background: $color-referrals;
  border: $color-referrals;
}

.card-actions {
  background: $color-actions;
  border: $color-actions;
}
