<div class="card card-inverse card-info mb-4 text-center card-{{stat?.metric}}">
    <div class="card-block">
        <h4>{{stat?.total}}</h4>
        <span class="font-weight-bold">{{stat?.metric}}</span>
    </div>
</div>
