.search-block {
    padding: 32px;
}

.search-block h1 {
    text-align: center;
}

.text-rows {
  color: #1e6bb8;
  text-decoration: none;
  cursor: pointer;
}

.ng2-smart-sort-link {
  color: #606c71 !important;
}