<div class="container search-block">

  <div class="row">
      <h1>Search User</h1>
  </div>

  <form class="row justify-content-md-center" style="margin-top: 30px;">
    <div class="col col-sm-6">
      <input (keyup.enter)="searchButton()" name="search" [(ngModel)]="search" type="text" class="form-control" placeholder="type the name or email of the user">
    </div>
    <div class="col col-sm-6">
      <button style="min-width:70px;" (click)="searchButton()" type="button" class="btn btn-primary"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
    </div>
  </form>

  <hr>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ba-card title="" baCardClass="with-scroll">
        <ng2-smart-table
              [source]="source"
              [settings]="settings"
              (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
      </ba-card>
    </div>
  </div>
  
</div>