.ng2-smart-pagination{display:inline-block;font-size:.875rem;padding:0}.ng2-smart-pagination .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}.ng2-smart-pagination .ng2-smart-page-item{display:inline}
/*# sourceMappingURL=pager.component.css.map */
