<div *ngIf="loading" class="loader"></div>
<i *ngIf="optin_promotions && !loading" class="ion-email icons-opt" aria-hidden="true"></i>
<i *ngIf="optin_product_research && !loading" class="ion-hammer icons-opt" aria-hidden="true"></i>
<i *ngIf="tools.length>0 && profile && !loading" class="ion-star icons-star-opt" aria-hidden="true"></i>