<table class="table table-hover ">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>From</th>
      <th>Tools</th>
      <th>Actions</th>
      <th>Registered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lead of leads; let i = index;">
      <th scope="row">{{lead.id}}</th>
      <td>
        <a routerLink="{{lead.id}}">
          {{lead.name}}
        </a>
      </td>
      <td *ngIf="lead.city && lead.country">{{lead.city}}, {{lead.country}}</td>
      <td *ngIf="!lead.city && lead.country">{{lead.country}}</td>
      <td *ngIf="lead.city && !lead.country">{{lead.city}}</td>
      <td *ngIf="!lead.city && !lead.country">N/A</td>
      <td><a routerLink="tools/{{lead.id}}">
          <ai-tools-count [lead_id]="lead.id"></ai-tools-count>
        </a>
      </td>
      <td><a routerLink="actions/{{lead.id}}">
          <ai-actions-count [lead_id]="lead.id"></ai-actions-count>
        </a>
      </td>
      <td>{{lead.created_at | date}}</td>      
    </tr>
  </tbody>
</table>
