<div class="widgets">

  <!-- Small modal -->
  <div bsModal #dModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
          <div class="modal-header">
              <button class="close" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Delete</h4>
          </div>
          <div class="modal-body">
              <h4>You really want to delete it?</h4>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" (click)="deleteAction()">Delete</button>
            <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Cancel</button>
          </div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-primary" (click)="download()">Download PDF</button>
      </div>

      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ba-card title="" baCardClass="with-scroll">
        <ng2-smart-table
              [settings]="settings"
              [source]="source"
              (create)="create($event)"
              (edit)="edit($event)"
              (delete)="delete($event)"
              (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
      </ba-card>
    </div>
  </div>
</div>
