<div class="container">

<div *ngIf="tools" class="row">

    <h4>Registred Tools: {{cantTools}}</h4>
    <table class="table table-hover ">
    <thead class="thead-default">
        <tr>
            <th>Tool ID</th>
            <th>Serial Number</th>
            <th>Manufactured Date</th>
            <th>Buy Date</th>
            <th>Created Date</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tool of tools; let i = index;">
            <th scope="row">{{tool.id}}</th>
            <td>{{tool.serial_number}}</td>
            <td>{{tool.manufacture_date }}</td>
            <td>{{tool.buy_date}}</td>    
            <td>{{tool.created_at | date}}</td>
        </tr>
    </tbody>
    </table>

    </div>


    <div class="row">
        <div class="col">
            <a routerLink="/leads">Back to the Leads</a>
        </div>
    </div>

    
</div>