<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> {{title}}
        </a>
    </div>
</nav>

<app-navigation></app-navigation>
<router-outlet></router-outlet>
