<div class="container">

    <div *ngIf="lead" class="row">
        <div class="col">
            <dl>

                <div *ngIf="lead.name">
                    <dt>Name</dt>
                    <dd>{{ lead.name }}</dd>
                </div>

                <div *ngIf="lead.email">
                    <dt>Email</dt>
                    <dd>{{ lead.email }}</dd>
                </div>

                <div *ngIf="lead.address">
                    <dt>Address</dt>
                    <dd>{{ lead.address }}</dd>
                    <dd *ngIf="lead.city">{{ lead.city }}</dd>
                    <dd *ngIf="lead.country">{{ lead.country }}</dd>
                    <dd *ngIf="lead.zipcode">{{ lead.zipcode }}</dd>
                </div>

                <div *ngIf="lead.latitude">
                    <dt>Geolocation</dt>
                    <dd>{{ lead.latitude }}, {{ lead.longitude }}</dd>
                    <dd>
                        <sebm-google-map [latitude]="lead.latitude" [longitude]="lead.longitude">
                            <sebm-google-map-marker [latitude]="lead.latitude" [longitude]="lead.longitude"></sebm-google-map-marker>
                        </sebm-google-map>
                    </dd>
                </div>

                <div *ngIf="lead.phone_number">
                    <dt>Phone number</dt>
                    <dd>{{ lead.phone_number }}</dd>
                </div>

                <div *ngIf="lead.gender">
                    <dt>Gender</dt>
                    <dd>{{ lead.gender }}</dd>
                </div>

                <div *ngIf="lead.date_of_birth">
                    <dt>Date of birth</dt>
                    <dd>{{ lead.date_of_birth }}</dd>
                </div>


                <div *ngIf="lead.updated_at">
                    <dt>Last updated on</dt>
                    <dd>{{ lead.updated_at | date }}</dd>
                </div>

            </dl>
        </div>

        <div class="col">
            <dl>

                <div *ngIf="lead.platform">
                    <dt>Registered via</dt>
                    <dd>{{ lead.platform }} : {{ lead.scoped_id }}</dd>
                </div>

                <div *ngIf="lead.created_at">
                    <dt>On</dt>
                    <dd>{{ lead.created_at | date }}</dd>
                </div>

                <div *ngIf="lead.optin_product_research">
                    <dt>Opted-in in for product Research</dt>
                    <dd>{{ lead.optin_product_research }}</dd>
                </div>

                <div *ngIf="lead.optin_promotions">
                    <dt>Opted-in for promotions</dt>
                    <dd>{{ lead.optin_promotions }}</dd>
                </div>

            </dl>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <a routerLink="/leads">Back to the Leads</a>
        </div>
    </div>

</div>
