<div class="widgets">
  <div *ngIf="lead" class="row">
    <div class="col-md-6">
      <div>
        <ba-card title="General Info" baCardClass="with-scroll">
          <div class="form-group">
            <label>Name</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.name}}">
          </div>
          <div class="form-group">
            <label>Platform</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.platform}}">
         </div>
         <div class="form-group">
            <label>Phone</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.phone_number}}">
         </div>
         <div class="form-group">
            <label>Gender</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.gender}}">
         </div>
         <div class="form-group">
            <label>Date of Birthday</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.date_of_birth}}">
         </div>
         <div class="form-group">
            <label>Email</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.email}}">
         </div>
         <div class="form-group">
            <label>Address</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.address}}">
         </div>
         <div class="form-group">
            <label>Zip Code</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.zipcode}}">
         </div>
        </ba-card>
      </div>      
    </div>
    <div class="col-md-6">
      <div>
        <ba-card title="Location" baCardClass="with-scroll">
            <sebm-google-map *ngIf="lead.latitude && lead.longitude" [latitude]="lead.latitude" [longitude]="lead.longitude">
                <sebm-google-map-marker [latitude]="lead.latitude" [longitude]="lead.longitude"></sebm-google-map-marker>
            </sebm-google-map>
            <p *ngIf="!lead.latitude && !lead.longitude">N/A</p>
        </ba-card>
      </div>
      <div>
        <ba-card title="Tools Registred" baCardClass="with-scroll">

            <div class="horizontal-scroll vertical-scroll">
                <table class="table table-hover">
                    <thead>
                        <tr class="black-muted-bg">
                            <th>ID</th>
                            <th>SN</th>
                            <th>Buy It</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr *ngFor="let tool of tools" class="no-top-border">
                                <td>{{tool.id}}</td>
                                <td>{{tool.serial_number}}</td>
                                <td>{{tool.buy_date }}</td>                     
                            </tr>
                            <tr *ngIf="tools.length < 1">N/A</tr>
                            
                        </tbody>
                </table>
            </div>
          
        </ba-card>
      </div>
      <div>
        <ba-card title="Logs" baCardClass="with-scroll">

            <div class="horizontal-scroll vertical-scroll">
                <table class="table table-hover">
                    <thead>
                        <tr class="black-muted-bg">
                            <th>ID</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr *ngFor="let action of actions" class="no-top-border">
                                <td>{{action.id}}</td>
                                <td>{{action.type}}</td>
                                <td>{{action.name}}</td>  
                                <td>{{action.created_at | date}}</td>     
                                <td>{{action.description}}</td>              
                            </tr>
                            <tr *ngIf="actions.length < 1">N/A</tr>
                            
                        </tbody>
                </table>
            </div>
          
        </ba-card>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
            <input (click)="onBack()" type="button" class="btn btn-link" value="Back to the Leads"/>
        </div>
  </div>
</div>