<main [ngClass]="{'menu-collapsed': isMenuCollapsed}" baThemeRun>
    <div class="additional-bg"></div>
    <router-outlet>
        <!-- Small modal -->
        <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-label="Close" (click)="smModal.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Idle timeout</h4>
                </div>
                <div class="modal-body">
                    <p><strong>{{idleState}}</strong></p>
                    <p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Keep Login</button>
                </div>
                </div>
            </div>
        </div>
    </router-outlet>
</main>
