@import "../../../../theme/sass/conf/conf";

.ng2-smart-table-container table.ng2-smart-table {
  th, td {
    border: 1px solid $border-light !important;
    line-height: 35px;
    vertical-align: middle;
  }

  color: $default-text;

  input {
    line-height: 1.5 !important;
  }

  tbody {
    tr:hover {
      background: rgba(0, 0, 0, 0.03);
    }
  }

  a.ng2-smart-sort-link {
    font-size: 14px !important;
    color: $default-text;
    font-weight: $font-bolder;
    &.sort {
      font-weight: $font-bolder !important;

      &::after {
        border-bottom-color: $default-text !important;
      }
    }
  }

  .ng2-smart-actions {
    width: 70px;
    text-align: center;
    .actions {
      float: none;
      text-align: center;
    }
  }

  a.ng2-smart-action {
    font-size: 14px !important;
    color: $default-text;
    padding: 0 5px;
    display: inline-block;

    &.ng2-smart-action-add-add {
      font-size: 25px !important;
    }
  }
}

nav.ng2-smart-pagination-nav {
  display: flex;
  justify-content: center;
}

.center-icons {
  justify-content: center;
  text-align: center; 
}

.modal {
  padding-top: 300px;

  .modal-content {
    color: $dropdown-text;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.ng2-smart-sort-link {
  color: #606c71 !important;
}

.button-add {
    margin-left: 20px;
    font-size: 25px;
}

.button-actions {
  margin-left: 7px;
  font-size: 15px;
}