<div class="widgets">

  <!-- Small modal -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="btn-group" data-toggle="buttons">
          
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ba-card>
        <h3>Welcome</h3>
        <p>{{ welcome }}</p>
      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <ba-card>
        <h3>Stores Search</h3>
        <p>{{ stores }}</p>
      </ba-card>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <ba-card>
        <h3>Services Search</h3>
        <p>{{ services }}</p>
      </ba-card>
    </div>    
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <ba-card>
        <h3>Register Process</h3>
        <p>{{ register }}</p>

        <h4>Step 1: Firstname</h4>
        <p>{{ regstep2 }}</p>

        <h4>Step 1: Lastname</h4>
        <p>{{ regstep1 }}</p> 

        <h4>Step 3: Email</h4>
        <p>{{ regstep3 }}</p>                  

        <h3>Register Complete</h3>
        <p>{{ registerok }}</p>      

        <h3>Register Restart</h3>
        <p>{{ register2 }}</p>                              
      </ba-card>
    </div>        
  </div>  

  <div class="row">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ba-card>
        <div class="row">
          <h3>Email Accepted</h3>
          <p>{{emailok}}</p>

          <h3>Email Denied</h3>
          <p>{{emailko}}</p>
        </div>
      </ba-card>      
    </div>
  </div>

  <div class="row">

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">

    </div>
    
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <ba-card>
        <h3>Research Prompt</h3>
        <p>{{research}}</p>    

        <h3>Research Accepted</h3>
        <p>{{researchok}}</p>          

        <h3>Research Denied</h3>
        <p>{{researchko}}</p>                

        <h3>Research Complete</h3>
        <p>{{endresearch}}</p>                      
      </ba-card>

    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <ba-card>
        <h3>Invoice Options Start</h3>
        <p>{{invstep1}}</p>      
        <h3>Invoice Options End</h3>
        <p>{{invstep4}}</p>            

        <h3>Upload Start</h3>
        <p>{{uplstep1}}</p>

        <h3>Upload Accepted</h3>
        <p>{{uplok}}</p>      
        <h3>Upload Denied</h3>
        <p>{{uplko}}</p>            
      </ba-card>
    </div>
  </div>  
</div>
