@import "../../../theme/sass/conf/conf";

.pie-charts {
  color: $content-text;

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .card {
      height: 114px;
    }
  }

  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      width: 25%;
      flex: 0 0 25%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .pie-chart-item-container {
      width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px)  {
    .pie-chart-item-container {
      width: 100%;
      flex: 0 0 100%
    }
  }

  .pie-chart-item {
    position: relative;
    .chart-icon {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
  @media screen and
  (min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
    float: left;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 16px;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .description {
    display: inline-block;
    padding: 20px 0 0 20px;
    font-size: 18px;
    opacity: 0.9;
    .description-stats {
      padding-top: 8px;
      font-size: 32px;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}

.none-card {
  background-color: #fff !important;
}

.leads-card {
  background-color: #640088 !important;
  color: #fff !important;
}

.tools-card {
  background-color: #84bc00 !important;
  color: #fff !important;
}

.referrals-card {
  background-color: #ef1885 !important;
  color: #fff !important;
}

.actions-card {
  background-color: #efd618 !important;
  color: #fff !important;
}

