<div class="row pie-charts">

  <ba-card *ngFor="let chart of charts" class="pie-chart-item-container col-xlg-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">

    <div class="pie-chart-item">
      <div class="description">
        <div>{{ chart.description }}</div>
        <div class="description-stats">{{ chart.stats }}</div>
      </div>
    </div>

  </ba-card>
</div>
