<div class="container">

<div *ngIf="actions" class="row">

   <h4>Registred Actions: {{cantActions}}</h4>
    <table class="table table-hover ">
    <thead class="thead-default">
        <tr>
            <th>Action ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created Date</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let action of actions; let i = index;">
            <th scope="row">{{action.id}}</th>
            <td>{{action.type}}</td>
            <td>{{action.name}}</td>
            <td>{{action.description }}</td>
            <td>{{action.created_at | date}}</td>
        </tr>
    </tbody>
    </table>

    </div>


    <div class="row">
        <div class="col">
            <a routerLink="/leads">Back to the Leads</a>
        </div>
    </div>

    
</div>