<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="btn-group" data-toggle="buttons">
        <button type="button" class="btn" [class.btn-primary]="stat === 'total'" (click)="changeStat('total')"> Totals</button>
        <button type="button" class="btn" [class.btn-primary]="stat === 'week'" (click)="changeStat('week')"> This week</button>
    </div>

    <hr>

  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <pie-chart [stat]="stat"></pie-chart>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ba-card class="" title="Statistics Overview" baCardClass="traffic-panel">
      <mychartist-js [stat]="stat"></mychartist-js>
    </ba-card>
  </div>
</div>

<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
                     title="Leads Actions" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card>

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
           title="Leads by Country" baCardClass="medium-card">
    <users-map></users-map>
  </ba-card>
</div>


