<div class="widgets">
  <div *ngIf="serviceCenter" class="row">
    <div class="col-md-6">
      <div>
        <ba-card title="General Info" baCardClass="with-scroll">
          <div class="form-group">
            <label>Name</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.name}}">
          </div>
         <div class="form-group">
            <label>Phone</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.phone}}">
         </div>
         <div class="form-group">
            <label>Web Site</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.website_url}}">
         </div>
         <div class="form-group">
            <label>Google Maps URL</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.google_maps_url}}">
         </div>
         <div class="form-group">
            <label>Address</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.address}}">
         </div>
         <div class="form-group">
            <label>City</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.city}}">
         </div>
         <div class="form-group">
            <label>State</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.state}}">
         </div>
         <div class="form-group">
            <label>Province</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.province}}">
         </div>
         <div class="form-group">
            <label>Country</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.country}}">
         </div>
         <div class="form-group">
            <label>ZipCode</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{serviceCenter.zipcode}}">
         </div>
        </ba-card>
      </div>      
    </div>
    <div class="col-md-6">
      <div>
        <ba-card title="Location" baCardClass="with-scroll">
            <sebm-google-map *ngIf="serviceCenter.latitude && serviceCenter.longitude" [latitude]="serviceCenter.latitude" [longitude]="serviceCenter.longitude">
                <sebm-google-map-marker [latitude]="serviceCenter.latitude" [longitude]="serviceCenter.longitude"></sebm-google-map-marker>
            </sebm-google-map>
            <p *ngIf="!serviceCenter.latitude && !serviceCenter.longitude">N/A</p>
        </ba-card>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
            <input (click)="onBack()" type="button" class="btn btn-link" value="Back to the Services Centers"/>
        </div>
  </div>
</div>