<div class="container">
    <div class="row">
        <div class="col">
            <app-stat-box [stat]="leads"></app-stat-box>
        </div>
        <div class="col">
            <app-stat-box [stat]="tools"></app-stat-box>
        </div>
        <div class="col">
            <app-stat-box [stat]="referrals"></app-stat-box>
        </div>
        <div class="col">
            <app-stat-box [stat]="actions"></app-stat-box>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <app-stats-graphic (activeChart)="onChartChange($event)">
            </app-stats-graphic>
        </div>
    </div>
</div>
