<div class="container">
  <div *ngIf="lead" class="row">
    <div class="col-md-6" style="margin-top: 25px;">
      <div>
        <ba-card title="General Info" baCardClass="with-scroll">
          <div class="form-group">
            <label>Name</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.name}}">
          </div>
         <div class="form-group">
            <label>Phone</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.phone_number}}">
         </div>
         <div class="form-group">
            <label>Country</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{lead.country}}">
         </div>
         <div class="form-group">
            <label>Free maintenance</label>
            <input *ngIf="tools.length > 0 && profile" disabled type="text" class="form-control" placeholder="No" value="Yes">
            <input *ngIf="tools.length == 0 || !profile" disabled type="text" class="form-control" placeholder="No" value="No">
         </div>
         <div *ngIf="tools.length > 0 && profile" class="form-group">
             <div class="row">
                 <div class="col col-sm-6">
                    <label>Used maintenance</label>
                 </div>
                 <div class="col col-sm-6 form-control" style="border-style:none;">
                     <label class="switch">
                        <input class="" (change)="maintenanceClick()" type="checkbox" data-toggle="toggle" [(ngModel)]="lead.used_maintenance">
                        <div class="slider round"></div>
                    </label>
                 </div>

             </div>
             
        </div>
        </ba-card>
      </div>      
    </div>
    <div class="col-md-6" style="margin-top: 25px;">
      <div>
        <ba-card title="Tools Registred" baCardClass="with-scroll">

            <div class="horizontal-scroll vertical-scroll">
                <table class="table table-hover">
                    <thead>
                        <tr class="black-muted-bg">
                            <th>ID</th>
                            <th>SN</th>
                            <th>Buy It</th>
                            <th>Receipts images</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr *ngFor="let tool of tools" class="no-top-border">
                                <td>{{tool.id}}</td>
                                <td>{{tool.serial_number}}</td>
                                <td>{{tool.buy_date }}</td>
                                <td><button (click)="showImages(tool.id)" class="btn btn-primary"><i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i></button></td>                      
                            </tr>
                            <tr *ngIf="tools.length < 1">N/A</tr>
                            
                        </tbody>
                </table>
            </div>
          
        </ba-card>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
            <input (click)="onBack()" type="button" class="btn btn-link" value="Back to Search"/>
        </div>
  </div>
</div>

<div bsModal #dModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-header">
            <button class="close" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Receipts images</h4>
        </div>
        <div class="modal-body">

            <div *ngFor="let receipt of receipts; let i = index;">
                <img width="500" height="600" src="{{receipt.file_url}}" />
            </div>    
            
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Close</button>
        </div>
        </div>
    </div>
</div>