<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix">
    <img src="../assets/img/logo-dewalt.jpg" alt="Go to the overview"> Asistente <strong>DEWALT</strong></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
</div>
