<div class="container">

    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <nav aria-label="Leads table pagination navigation">
                        <ul class="pagination">

                            <li *ngIf="currentPage > 1" class="page-item">
                                <button class="page-link" (click)="buildPage(currentPage-1)">&#9664;</button>
                            </li>

                            <li *ngFor="let page of createPagesRange(lastPage); let i = index" [class.active]="i === currentPage - 1" class="page-item">
                                <button class="page-link" (click)="buildPage(i + 1)">{{i + 1}}</button>
                            </li>

                            <li *ngIf="currentPage + 1 <= lastPage" class="page-item">
                                <button class="page-link" (click)="buildPage(currentPage + 1)">&#9658;</button>
                            </li>

                        </ul>
                    </nav>
                </div>

                <div class="col hidden-xs-down">
                    <div class="align-middle">
                        <p class="text-right">Showing <strong>{{leadsServiceData.per_page }}</strong> leads, real total <strong>{{ leadsServiceData.total }}</strong>. Page <strong>{{currentPage}}</strong> of <strong>{{lastPage}}</strong>.</p>
                    </div>
                </div>
            </div>

            <app-leads-list [leads]="leadsList"></app-leads-list>
        </div>
    </div>

</div>
