<div class="widgets">
  <div *ngIf="distributor" class="row">
    <div class="col-md-6">
      <div>
        <ba-card title="General Info" baCardClass="with-scroll">
          <div class="form-group">
            <label>Name</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.name}}">
          </div>
         <div class="form-group">
            <label>Phone</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.phone}}">
         </div>
         <div class="form-group">
            <label>Web Site</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.website_url}}">
         </div>
         <div class="form-group">
            <label>Google Maps URL</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.google_maps_url}}">
         </div>
         <div class="form-group">
            <label>Address</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.address}}">
         </div>
         <div class="form-group">
            <label>City</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.city}}">
         </div>
         <div class="form-group">
            <label>State</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.state}}">
         </div>
         <div class="form-group">
            <label>Province</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.province}}">
         </div>
         <div class="form-group">
            <label>Country</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.country}}">
         </div>
         <div class="form-group">
            <label>ZipCode</label>
            <input disabled type="text" class="form-control" placeholder="N/A" value="{{distributor.zipcode}}">
         </div>
        </ba-card>
      </div>      
    </div>
    <div class="col-md-6">
      <div>
        <ba-card title="Location" baCardClass="with-scroll">
            <sebm-google-map *ngIf="distributor.latitude && distributor.longitude" [latitude]="distributor.latitude" [longitude]="distributor.longitude">
                <sebm-google-map-marker [latitude]="distributor.latitude" [longitude]="distributor.longitude"></sebm-google-map-marker>
            </sebm-google-map>
            <p *ngIf="!distributor.latitude && !distributor.longitude">N/A</p>
        </ba-card>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
            <input (click)="onBack()" type="button" class="btn btn-link" value="Back to the Distributors"/>
        </div>
  </div>
</div>