<div class="widgets">

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-primary" (click)="download()">Download PDF</button>
      </div>

      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ba-card baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
        <div class="row">
            <i class="ion-email icons-opt" aria-hidden="true"></i><label class="label-legend">Promotions</label>
            <i class="ion-hammer icons-opt" aria-hidden="true"></i><label class="label-legend">Product research</label>
            <i class="ion-star icons-star-opt" aria-hidden="true"></i><label class="label-legend">Registered tool & completed the ext. profile</label>
        </div>
      </ba-card>
    </div>
  </div>

</div>
