@import "../../../../theme/sass/conf/conf";

.ng2-smart-table-container table.ng2-smart-table {
  th, td {
    border: 1px solid $border-light !important;
    line-height: 35px;
    vertical-align: top;
  }

  color: $default-text;

  input {
    line-height: 1.5 !important;
  }

  tbody {
    tr:hover {
      background: rgba(0, 0, 0, 0.03);
    }
  }

  a.ng2-smart-sort-link {
    font-size: 14px !important;
    color: $default-text;
    font-weight: $font-bolder;
    &.sort {
      font-weight: $font-bolder !important;

      &::after {
        border-bottom-color: $default-text !important;
      }
    }
  }

  .ng2-smart-actions {
    width: 70px;
    text-align: left;
    .actions {
      float: none;
      text-align: left;
    }
  }

  a.ng2-smart-action {
    font-size: 14px !important;
    color: $default-text;
    padding: 0 5px;
    display: inline-block;

    &.ng2-smart-action-add-add {
      font-size: 25px !important;
    }
  }
}

nav.ng2-smart-pagination-nav {
  display: flex;
  justify-content: center;
}

.center-icons {
  justify-content: left;
  text-align: left;
}

.icons-opt {
  font-size: 20px;
  margin-left: 10px;
}

.icons-star-opt {
  font-size: 20px;
  color: #84bc00;
  margin-left: 10px;
}

.label-legend {
  margin-left: 10px;
}

.text-rows {
  color: #1e6bb8;
  text-decoration: none;
  cursor: pointer;
}

.ng2-smart-sort-link {
  color: #606c71 !important;
}


