<div class="widgets">

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-primary" (click)="download()">Download PDF</button>
      </div>

      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ba-card baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
      </ba-card>
    </div>
  </div>

</div>
