<div class="widgets">
  <div *ngIf="serviceCenter" class="row">
    <div class="col-md-6">
      <div>
        <ba-card title="General Info" baCardClass="with-scroll">
          <form [formGroup]="form" class="form-horizontal">
            <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                <label>Name</label>
                <input [formControl]="name" type="text" class="form-control" placeholder="Name" value="{{serviceCenter.name}}" [(ngModel)]="serviceCenter.name">
              </div>
            <div class="form-group" [ngClass]="{'has-error': (!phone.valid && phone.touched), 'has-success': (phone.valid && phone.touched)}">
                <label>Phone</label>
                <input [formControl]="phone" type="text" class="form-control" placeholder="Phone" value="{{serviceCenter.phone}}" [(ngModel)]="serviceCenter.phone">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!website_url.valid && website_url.touched), 'has-success': (website_url.valid && website_url.touched)}">
                <label>Web Site</label>
                <input [formControl]="website_url" type="text" class="form-control" placeholder="Web Site" value="{{serviceCenter.website_url}}" [(ngModel)]="serviceCenter.website_url">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!google_maps_url.valid && google_maps_url.touched), 'has-success': (google_maps_url.valid && google_maps_url.touched)}">
                <label>Google Maps URL</label>
                <input [formControl]="google_maps_url" type="text" class="form-control" placeholder="Google Maps URL" value="{{serviceCenter.google_maps_url}}" [(ngModel)]="serviceCenter.google_maps_url">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!address.valid && address.touched), 'has-success': (address.valid && address.touched)}">
                <label>Address</label>
                <input [formControl]="address" type="text" class="form-control" placeholder="Address" value="{{serviceCenter.address}}" [(ngModel)]="serviceCenter.address">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!city.valid && city.touched), 'has-success': (city.valid && city.touched)}">
                <label>City</label>
                <input [formControl]="city" type="text" class="form-control" placeholder="City" value="{{serviceCenter.city}}" [(ngModel)]="serviceCenter.city">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!state.valid && state.touched), 'has-success': (state.valid && state.touched)}">
                <label>State</label>
                <input [formControl]="state" type="text" class="form-control" placeholder="State" value="{{serviceCenter.state}}" [(ngModel)]="serviceCenter.state">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!province.valid && province.touched), 'has-success': (province.valid && province.touched)}">
                <label>Province</label>
                <input [formControl]="province" type="text" class="form-control" placeholder="Province" value="{{serviceCenter.province}}" [(ngModel)]="serviceCenter.province">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!country.valid && country.touched), 'has-success': (country.valid && country.touched)}">
                <label>Country</label>
                <input [formControl]="country" type="text" class="form-control" placeholder="Country" value="{{serviceCenter.country}}" [(ngModel)]="serviceCenter.country">
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!zipcode.valid && zipcode.touched), 'has-success': (zipcode.valid && zipcode.touched)}">
                <label>Zip Code</label>
                <input [formControl]="zipcode" type="text" class="form-control" placeholder="Zip Code" value="{{serviceCenter.zipcode}}" [(ngModel)]="serviceCenter.zipcode">
            </div>

            <button [disabled]="!form.valid" *ngIf="!create" type="submit" class="btn btn-danger" (click)="onUpdate(serviceCenter)">Update</button>
            <button [disabled]="!form.valid" *ngIf="create" type="submit" class="btn btn-danger" (click)="onCreate(serviceCenter)">Save</button>

          </form>          
        </ba-card>
      </div>      
    </div>
    <div class="col-md-6">
      <div>
        <ba-card title="Location" baCardClass="with-scroll">
          <div class="form-group">
              <label>Autocompletion Address Helper</label>
              <input #search placeholder="search for location"
                    type="text" 
                    class="form-control" 
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="off"
                    value="{{serviceCenter.address}}">
              </div>
            <sebm-google-map *ngIf="serviceCenter.latitude && serviceCenter.longitude"
                   [latitude]="serviceCenter.latitude" 
                   [longitude]="serviceCenter.longitude" 
                   [scrollwheel]="true" 
                   [zoom]="zoom"
                   [mapDraggable]="enabled"
                   [styles]="labels"
                   [scaleControl]="enabled"
                   [mapTypeControl]="satellite"
                   [streetViewControl]="enabled">
            <sebm-google-map-marker [latitude]="serviceCenter.latitude" [longitude]="serviceCenter.longitude"></sebm-google-map-marker>
            </sebm-google-map>
            <p *ngIf="!serviceCenter.latitude && !serviceCenter.longitude">N/A</p>
        </ba-card>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
            <input (click)="onBack()" type="button" class="btn btn-link" value="Back to the Services Centers"/>
        </div>
  </div>
</div>